@charset "UTF-8";
header {
  min-width: 1920px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 120px;
  color: #F1F1F1;
  z-index: 100;
}
header.scroll {
  background-color: #0A0F14;
}
header .main_logo a {
  display: block;
}
header nav {
  flex: 1;
  display: flex;
  justify-content: center;
}
header nav .product {
  display: flex;
  gap: 40px;
}
header nav .product li a {
  color: #F1F1F1;
  font-size: 16px;
  font-weight: 500;
}
header nav .product li a:hover {
  color: #C7C7C7;
}
header .right_menu {
  display: flex;
  align-items: center;
  gap: 30px;
}
header .right_menu .search_box {
  position: relative;
  display: flex;
  align-items: center;
  background-color: #333;
  border-radius: 20px;
  padding: 10px 20px;
}
header .right_menu .search_box form {
  display: flex;
  align-items: center;
  gap: 10px;
}
header .right_menu .search_box form img {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
header .right_menu .search_box form .search:hover {
  opacity: 0.5;
}
header .right_menu .search_box form .close:hover {
  opacity: 0.5;
}
header .right_menu .search_box form .search_input input {
  color: #F1F1F1;
  background-color: #333;
  font-size: 14px;
}
header .right_menu .search_box form .search_input input::placeholder {
  font-size: 14px;
  color: #666;
}
header .right_menu .user_menu {
  display: flex;
  align-items: center;
  gap: 20px;
}
header .right_menu .user_menu li a {
  display: block;
}
header .right_menu .user_menu li a img {
  width: 22px;
  height: 22px;
}
header .right_menu .user_menu li a img:hover {
  opacity: 0.5;
}

main {
  min-width: 1920px;
  /**********************메인 1행 배너 START****************************/
}
main #main_banner {
  width: 100%;
  height: 100vh;
  margin-top: 0;
}
main #main_banner #banner_slide {
  width: 100%;
  height: 100%;
}
main #main_banner #banner_slide .swiper-wrapper {
  width: 100%;
  height: 100%;
}
main #main_banner #banner_slide .swiper-wrapper .swiper-slide {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
main #main_banner #banner_slide .swiper-wrapper .swiper-slide.slide1 {
  background-image: url(../images/main_banner1.jpg);
}
main #main_banner #banner_slide .swiper-wrapper .swiper-slide.slide2 {
  background-image: url(../images/main_banner2.png);
}
main #main_banner #banner_slide .swiper-wrapper .swiper-slide.slide3 {
  background-image: url(../images/main_banner3.png);
}
main #main_banner #banner_slide .swiper-wrapper .swiper-slide a {
  padding: 0 120px;
  display: flex;
  justify-content: left;
  align-items: center;
  width: 100%;
  height: 100%;
}
main #main_banner #banner_slide .swiper-wrapper .swiper-slide a .banner_text {
  text-align: left;
}
main #main_banner #banner_slide .swiper-wrapper .swiper-slide a .banner_text h3 {
  font-size: 45px;
  font-weight: 700;
  line-height: 150%;
  margin-bottom: 20px;
  color: #FFF;
}
main #main_banner #banner_slide .swiper-wrapper .swiper-slide a .banner_text p {
  font-size: 18px;
  line-height: 150%;
  color: #FFF;
}
main #main_banner #banner_slide .swiper-button-prev,
main #main_banner #banner_slide .swiper-button-next {
  color: #FFF;
}
main #main_banner #banner_slide .swiper-button-prev:hover,
main #main_banner #banner_slide .swiper-button-next:hover {
  opacity: 0.5;
}
main #main_banner #banner_slide .swiper-button-prev {
  left: 60px;
}
main #main_banner #banner_slide .swiper-button-next {
  right: 60px;
}
main {
  /**********************메인 1행 배너 END******************************/
  /**********************메인 2행 BEST ITEM START***********************/
}
main #best_item {
  width: 1680px;
  margin: 80px auto;
}
main #best_item h3 {
  font-size: 2.188rem;
  font-weight: 700;
  text-align: left;
  margin-bottom: 40px;
}
main #best_item {
  /* 카테고리 버튼 영역 */
}
main #best_item .category {
  position: relative;
}
main #best_item .category .best_product {
  display: flex;
  justify-content: left;
  gap: 20px;
  margin-bottom: 40px;
}
main #best_item .category .best_product li button {
  border: 1px solid #C7C7C7;
  border-radius: 30px;
  padding: 10px 20px;
  font-size: 0.938rem;
  font-weight: 400;
  color: #666;
  cursor: pointer;
}
main #best_item .category .best_product li button:hover, main #best_item .category .best_product li button.active {
  background: #333;
  color: #FFF;
}
main #best_item .category .best_item_controls {
  position: absolute;
  width: auto;
  right: 0;
  top: 25px;
  z-index: 100;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
}
main #best_item .category .best_item_controls .swiper-button-next,
main #best_item .category .best_item_controls .swiper-button-prev {
  position: static;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
main #best_item .category .best_item_controls .swiper-button-next:hover,
main #best_item .category .best_item_controls .swiper-button-prev:hover {
  opacity: 0.8;
}
main #best_item .category .best_item_controls .swiper-button-prev svg,
main #best_item .category .best_item_controls .swiper-button-next svg {
  display: none;
}
main #best_item .category .best_item_controls .swiper-button-next::after,
main #best_item .category .best_item_controls .swiper-button-prev::after {
  background: url(https://cdn-icons-png.flaticon.com/128/2609/2609370.png) no-repeat center/25px;
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  opacity: 0.8;
}
main #best_item .category .best_item_controls .swiper-button-next::after {
  transform: scaleX(-1);
}
main #best_item {
  /* 슬라이드 영역 */
}
main #best_item .best_product_list .swiper .swiper-wrapper {
  display: flex;
}
main #best_item .best_product_list .swiper .swiper-slide a {
  display: block;
  overflow: hidden;
}
main #best_item .best_product_list .swiper .swiper-slide a img {
  width: 100%;
}
main #best_item .best_product_list .swiper .swiper-slide .item_text {
  margin-top: 15px;
  text-align: left;
}
main #best_item .best_product_list .swiper .swiper-slide .item_text h5 {
  font-size: 0.875rem;
  font-weight: 400;
  margin-bottom: 15px;
}
main #best_item .best_product_list .swiper .swiper-slide .item_text .price {
  margin-bottom: 15px;
}
main #best_item .best_product_list .swiper .swiper-slide .item_text .price .dc_price {
  font-size: 0.813rem;
  font-weight: 500;
  margin-right: 5px;
}
main #best_item .best_product_list .swiper .swiper-slide .item_text .price .normal_price {
  font-size: 0.75rem;
  font-weight: 400;
  color: #B1B1B1;
  margin-right: 5px;
}
main #best_item .best_product_list .swiper .swiper-slide .item_text .price .dc_off {
  font-size: 0.813rem;
  font-weight: 400;
  color: #FF5C47;
}
main #best_item .best_product_list .swiper .swiper-slide .item_text .tag {
  font-size: 0.625rem;
  font-weight: 400;
  background-color: #EEE;
  color: #000;
  padding: 5px 10px;
  display: inline-block;
}
main #best_item .best_product_list .swiper {
  /* 좌우 버튼 */
}

/*# sourceMappingURL=main.css.map */
